<template>
    <form class="form-event form-validate cmxform" action="/order.php" method="post" @submit.prevent="submit">
        <div style="display: none" class="form_key">bb</div>
        <input type="hidden" name="title" value="Регистрация названия артист">
        <order-alert v-if="isAuth"></order-alert>
        <div class="form-item">
            <label class="form-label" for="text1">Задание отделу нейминга</label>
            <textarea class="form-input form-textarea" name="text1" data-name="task_content" id="text1" placeholder="Опишите подробно Ваши пожелания." rows="3" data-msg-required="Заполните поле задание отделу нейминга" required="" v-model="formData.task_content"></textarea>
        </div>
        <order-btn></order-btn>
    </form>
</template>
<script>
import {mapGetters} from "vuex"
import LoadingSpinner from "@/components/Misc/LoadingSpinner";
import OrderBtn from "@/components/Misc/OrderBtn";
import OrderAlert from "@/components/Misc/OrderAlert";
export default {
  data() {
    return {
        formData: {
          form_key: "bb",
          task_content: ""
        }
    }
  },
  computed: mapGetters(['orderCreating', 'attemptCreationOrder', 'firstOrderError']),
   components: {
    LoadingSpinner, 
    OrderBtn,
		OrderAlert,
    
  },
  methods: {
    async submit() {
      this.$store.commit('setAttemptCreationOrder', true);

      await this.$store.dispatch('createOrder', this.formData);

      if(this.$store.getters.isAuth) {
        await this.$router.push('/order-msg');
      } else {
        await this.$router.push('/register');
      }
  }
  },
  mounted() {
    this.$store.commit("resetOrderForm")
  }
}
</script>