<template>
    <form class="form-event" action="@" method="@" @submit.prevent="submit">
        <input type="hidden" name="title" value="Регистрация социальных сетей">
        <order-alert v-if="isAuth"></order-alert>
        <div style="display: none" class="form_key">p</div>
        <div class="form-item">
            <label class="form-label" for="nameProject">Наименование вашего музыкального проекта</label>
            <input class="form-input" name="nameProject" data-name="project_name" id="nameProject" placeholder="Наименование проекта" data-msg-required="Заполните поле наименование проекта" required="" v-model="formData.project_name">
        </div>
        <div class="form-item">
            <div class="form-label">Какие соцальные сети зарегистрировать?</div>
            <div class="checkbox-group" data-name="platforms">
		<platforms ref="platforms"></platforms>
</div>
        </div>
        <div class="form-item">
            <label class="form-label" for="text2">Описание музыкального проекта</label>
            <textarea class="form-input form-textarea" name="text2" data-name="description" id="text2" placeholder="Подробная информация об артисте или группе / проекте в свободной форме." rows="3" data-msg-required="Заполните описание музыкального проекта" required="" v-model="formData.description"></textarea>
        </div>
        <order-btn></order-btn>
    </form>
</template>
<script>
import {mapGetters} from "vuex"
import LoadingSpinner from "@/components/Misc/LoadingSpinner";
import Platforms from "@/components/Misc/Platforms";
import OrderBtn from "@/components/Misc/OrderBtn";
import OrderAlert from "@/components/Misc/OrderAlert";
export default {
  data() {
    return {
        formData: {
          form_key: "p",
          project_name: "",
          platforms: "",
          description: ""
        }
    }
  },
  computed: mapGetters(['orderCreating', 'attemptCreationOrder', 'firstOrderError']),
  components: {
    LoadingSpinner, 
    Platforms,
    OrderBtn,
		OrderAlert,
    
  },
  methods: {
    async submit() {
      this.formData.platforms = this.$refs.platforms.getSelected();

      this.$store.commit('setAttemptCreationOrder', true);

      await this.$store.dispatch('createOrder', this.formData);

      if(this.$store.getters.isAuth) {
        await this.$router.push('/order-msg');
      } else {
        await this.$router.push('/register');
      }
    }
  },
  mounted() {
    this.$store.commit("resetOrderForm")
  }
}
</script>