.right-sidebar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 30;
	width: 40%;
	height: 100%;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: rem(100px) rem(15px) rem(100px) rem(340px);

	@media screen and (max-width: 1440px){
		padding-left: rem(220px);
	}

	@media screen and (max-width: 1199px){
		position: relative;
		height: auto;
		padding: rem(80px) rem(15px) rem(50px);
		width: 100%;
		max-width: rem(850px);
		min-height: rem(260px);
		margin: 0 auto;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}

	@media screen and (max-width: 575px){
		padding: rem(80px) rem(15px) rem(30px);
	}

	@media screen and (max-width: 480px){
		min-height: 215px;
	}
}

.bg-circle {
	position: absolute;
	left: rem(156px);
	top: 50%;
	width: rem(1500px);
	height: rem(1500px);
	margin-top: rem(-750px);
	background-color: rgb(146, 93, 255);
	z-index: -1;
	border-radius: 50%;

	@media screen and (max-width: 1440px){
		left: rem(106px);
	}

	@media screen and (max-width: 1280px){
		width: rem(2000px);
		height: rem(2000px);
		margin-top: rem(-1000px);
	}

	@media screen and (max-width: 1199px){
		top: auto;
		bottom: 0;
		left: 50%;
		width: rem(2000px);
		height: rem(700px);
		margin: 0 0 0 rem(-1000px);
	}
}

.logo-wrap {
	max-width: rem(155px);
	width: 100%;

	&--top {
		position: absolute;
		top: rem(-90px);
		@include alignTransformHorizontal;

		@media screen and (max-width: 480px){
			max-width: rem(100px);
		}
	}

	&--sidebar {
		position: absolute;
		left: 0;
		top: 50%;
		@include alignTransformVertical;
		max-width: rem(320px);

		@media screen and (max-width: 1440px){
			max-width: rem(214px);
		}

		@media screen and (max-width: 1199px){
			max-width: rem(120px);
			top: 0;
			transform: none;
			position: relative;
			padding-right: 20px;
		}

		@media screen and (max-width: 767px){
			margin: 0 auto;
			padding-right: 0;
		}

		@media screen and (max-width: 480px){
			max-width: rem(80px);
		}
	}
}

.logo {
	display: inline-block;
}

.page-number {
	position: absolute;
	top: 0;
	right: 0;
	padding: rem(37px) rem(42px);
	@include pb;
	color: $color-second;
	font-size: em(52px);
	line-height: 1;

	@media screen and (max-width: 1199px){
		padding: rem(20px) rem(26px);
	}
}

.breadcrumbs {
	text-align: left;
	position: relative;
	min-width: rem(200px);
	min-height: rem(420px);

	@media screen and (max-width: 1440px){
		min-width: rem(155px);
		min-height: rem(320px);
	}

	@media screen and (max-width: 1280px){
		min-height: rem(260px);
	}

	@media screen and (max-width: 1199px){
		min-height: rem(50px);
	}

	@media screen and (max-width: 767px){
		display: none;
	}

	.vertical-line {
		position: absolute;
		width: 1px;
		height: rem(4000px);
		background: $color-second;
		left: rem(6px);
		top: rem(8px);

		@media screen and (max-width: 1199px){
			display: none;
		}
	}

	&__list {
		@media screen and (max-width: 1199px){
			margin-left: rem(40px);
		}

		@media screen and (max-width: 480px){
			margin-left: rem(10px);
		}
	}

	.nav-item {
		position: relative;
		padding-left: em(32px);
		margin: 0 0 rem(38px) 0;

		@media screen and (max-width: 1440px){
			margin-bottom: rem(20px);
		}

		@media screen and (max-width: 1280px){
			margin-bottom: rem(16px);
		}

		@media screen and (max-width: 1199px){
			padding: 0 0 0 em(32px);
		}

		&:before {
			@include pseudo;
			left: 0;
			top: rem(6px);
			width: rem(13px);
			height: rem(13px);
			border-radius: 50%;
			background: $color-second;

			@media screen and (max-width: 1199px){
				top: rem(4px);
			}

			@media screen and (max-width: 991px){
				top: rem(3px);
			}
		}


		&.active {
			.nav-link {
				&:after {
					transform: scale(1);
				}
			}

		}
	}

	.nav-link {
		display: inline-block;
		color: $color-base;
		@include rl;
		font-size: em(20px);
		line-height: 1.33;

		@media screen and (max-width: 1440px){
			font-size: em(18px);
		}

		@media screen and (max-width: 1199px){
			br {
				display: none;
			}
		}

		&:hover {
			&:after {
				transform: scale(1);
			}
		}

		&:after {
			@include pseudo;
			left: 0;
			top: rem(6px);
			width: rem(13px);
			height: rem(13px);
			border-radius: 50%;
			background: $color-white;
			transform: scale(0);
			transform-origin: 50% 50%;
			transition: transform 0.4s cubic-bezier(.17, .67, .78, 1.26);
			pointer-events: none;

			@media screen and (max-width: 1199px){
				top: rem(4px);
			}

			@media screen and (max-width: 991px){
				top: rem(3px);
			}
		}
	}
}

.page-content {
	min-height: 100vh;
	width: 100%;
	padding: rem(100px) 40% rem(100px) rem(15px);
	display: flex;
	justify-content: flex-start;
	align-items: center;

	@media screen and (max-width: 1199px){
		padding: rem(60px) rem(15px) rem(60px);
		min-height: 100px;
	}
}

.main-content {
	min-height: 100vh;
	width: 100%;
	padding: rem(130px) rem(15px);
	display: flex;
	justify-content: center;
	align-items: center;

	&--profile {
		padding: rem(15px);
	}

	@media screen and (max-width: 1199px){
		min-height: 100px;
	}
}


.section-main {
	max-width: rem(820px);
	width: 100%;
	margin: 0 auto 0 auto;
	padding-right: rem(15px);

	@media screen and (max-width: 1440px) {
		max-width: rem(620px);
	}

	@media screen and (max-width: 1199px) {
		max-width: rem(820px);
		padding-right: 0;
	}
}

.section-select {
	max-width: rem(330px);
	width: 100%;
	margin: 0 auto 0 auto;
	padding-right: rem(15px);

	@media screen and (max-width: 1199px) {
		padding-right: 0;
	}
}

.form-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	margin: 0 rem(-10px);

	.col {
		padding: 0 rem(10px);
		width: 50%;

		&.col-auto {
			width: auto;

			@media screen and (max-width: 480px) {
				width: 100%;
			}
		}

		@media screen and (max-width: 575px) {
			width: 100%;
		}
	}

	&.align-center {
		align-items: center;
	}

	&.space-between {
		justify-content: space-between;
	}
}

.form-title {
	margin-bottom: rem(20px);
}

.form-item {
	margin-bottom: rem(26px);
	position: relative;


	@media screen and (max-width: 1199px){
		margin-bottom: rem(20px);
	}
}

label.error {
	color: $danger-color;
	font-size: em(14px);
	opacity: 1;
	transform-origin: 0 0;
	@include transition;
	transform: scaleY(1);
	position: absolute;
	top: 100%;
	left: 0;
	@include rb;
}

.form-label {
	font-size: em(18px);
	@include rb;
	display: inline-block;
	margin-bottom: rem(5px);
}

.form-input {
	width: 100%;
	height: rem(42px);
	padding: rem(5px) rem(23px);
	border: 1px solid transparent;
	background: $color-white;
	color: $color-dark;
	border-radius: rem(21px);
	text-align: left;
	@include rr;
	font-size: rem(14px);
	@include transition;

	@media screen and (max-width: 480px) {
		padding: rem(5px) rem(16px);
	}

	&:focus {
		box-shadow: 0 3px 10px 0 rgba($color-main, 0.3), inset 0 3px 5px 0 rgba($color-main, 0.3);
	}

	&:invalid {
		//box-shadow: 0 3px 4px 0 rgba($color-main, 0.3), inset 0 3px 5px 0 rgba($danger-color, 0.8);
	}

	&.error {
		border-color: $danger-color;
	}

	&.is-valid {
		border-color: $success-color;
	}

	&.form-textarea {
		padding: rem(12px) rem(23px);
		height: auto;
		resize: none;
	}

	&.form-select {
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		appearance: none;
		padding: rem(6px) rem(40px) rem(6px) rem(23px);

		@media screen and (max-width: 480px) {
			padding: rem(6px) rem(40px) rem(6px) rem(16px);
		}
	}


}

.field-text {
	font-size: rem(13px);
	@include rl;
	padding-top: rem(6px);
	line-height: 1.2;

	b {
		font-weight: normal;
		@include rb;
	}
}

.select-wrap {
	position: relative;

	.selectize-control.single .selectize-input::after {
		margin-top: -1px;
	}

	.selectize-input {
		width: 100%;
		height: rem(42px);
		line-height: rem(38px);
		padding: 0 rem(40px) 0 rem(23px);
		border: 1px solid transparent;
		background: $color-white;
		color: $color-dark;
		border-radius: rem(21px);
		text-align: left;
		@include rr;
		font-size: rem(14px);
		@include transition;
		overflow: hidden;
		position: relative;
		box-shadow: none;

		&.input-active {
			box-shadow: 0 3px 10px 0 rgba($color-main, 0.3), inset 0 3px 5px 0 rgba($color-main, 0.3);
		}
	}

	.selectize-dropdown-content {
		.option {
			&.active {
				background: #e9e9e9;
			}
		}
	}
}

/* Remove IE arrow */
select::-ms-expand {
	display: none;
}

.checkbox-group {
	column-count: 2;
	padding-top: rem(5px);

	@media screen and (max-width: 480px) {
		column-count: auto;
	}
}

.checkbox-item {
	margin-bottom: rem(20px);
	position: relative;

	label {
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0 0 0 rem(36px);
		min-height: rem(16px);
		@include rr;
		font-size: em(18px);
		line-height: 1.2;

		@media screen and (max-width: 480px) {
			padding: 0 0 0 rem(26px);
		}

		.check-text {
			display: inline-block;
			vertical-align: center;
		}

		.check-icon {
			position: absolute;
			display: block;
			left: 0;
			top: 50%;
			background: $color-white;
			width: rem(18px);
			height: rem(18px);
			margin-top: rem(-10px);
			padding: 5px;
			border-radius: 50%;

			&:after {
				content: '';
				display: block;
				background: #8950ff;
				border-radius: 50%;
				width: 100%;
				height: 100%;
				@include transition(transform);
				transform: scale(0);
				transform-origin: 50% 50%;
			}
		}
	}

	label.error {
		position: absolute;
		font-size: .875em;
	}

	input[type=checkbox] {
		visibility: hidden;
		position: absolute;
	}

	input[type=checkbox] + label {
		cursor: pointer;
	}

	input[type=checkbox]:checked ~ label{
		.check-icon {
			&:after {
				transform: scale(1);
				transition: transform 0.4s cubic-bezier(.17, .67, .78, 2);
			}

			.svg-icon {
				transform: scale(1);
				transition: transform 0.3s cubic-bezier(.17, .67, .78, 1.6);
			}
		}
	}

	&--term {
		margin-bottom: rem(5px);

		@media screen and (max-width: 575px) {
			margin-bottom: rem(20px);
		}

		label {
			padding-left: rem(26px);

			@media screen and (max-width: 1280px) {
				font-size: em(16px);
			}

			a{
				color: $color-white;
				@include transition;

				&:hover {
					color: $color-accent;
				}
			}

			.check-icon {
				border-radius: rem(3px);

				.svg-icon {
					width: 12px;
					height: 12px;
					fill: #8950ff;
					position: absolute;
					top: 50%;
					left: 50%;
					margin: -6px 0 0 -6px;
					transform: scale(0);
					transform-origin: 50% 50%;
					@include transition(transform);
				}

				&:after {
					display: none;
				}
			}
		}

	}
}

.radio-group {
	column-count: 2;
	padding-top: rem(5px);

	@media screen and (max-width: 480px) {
		column-count: auto;
	}

	&--line {
		column-count: unset;
		display: flex;
		flex-wrap: wrap;

		.radio-item {
			margin-right: 2.4rem;

			@media screen and (max-width: 480px) {
				margin-right: 0;
				width: 100%;
			}
		}

	}
}

.radio-item {
	margin-bottom: rem(20px);
	position: relative;

	label {
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0 0 0 rem(36px);
		min-height: rem(16px);
		@include rr;
		font-size: em(18px);
		line-height: 1.2;

		@media screen and (max-width: 480px) {
			padding: 0 0 0 rem(26px);
		}

		.check-text {
			display: inline-block;
			vertical-align: center;
		}

		.check-icon {
			position: absolute;
			display: block;
			left: 0;
			top: 50%;
			background: $color-white;
			width: rem(18px);
			height: rem(18px);
			margin-top: rem(-10px);
			padding: 5px;
			border-radius: 50%;

			&:after {
				content: '';
				display: block;
				background: #8950ff;
				border-radius: 50%;
				width: 100%;
				height: 100%;
				@include transition(transform);
				transform: scale(0);
				transform-origin: 50% 50%;
			}
		}
	}

	label.error {
		position: absolute;
		font-size: .875em;
	}

	input[type=radio] {
		visibility: hidden;
		position: absolute;
	}

	input[type=radio] + label {
		cursor: pointer;
	}

	input[type=radio]:checked ~ label{
		.check-icon {
			&:after {
				transform: scale(1);
				transition: transform 0.4s cubic-bezier(.17, .67, .78, 2);
			}

			.svg-icon {
				transform: scale(1);
				transition: transform 0.3s cubic-bezier(.17, .67, .78, 1.6);
			}
		}
	}
}

.question-icon {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 10px;
	margin-bottom: 2px;
	width: 16px;
	height: 16px;

	&:hover {
		.svg-icon {
			fill: $color-accent;
		}
	}

	.svg-icon {
		display: block;
		width: 16px;
		height: 16px;
		fill: $color-white;
		@include transition;
	}
}

.form-button {
	margin-bottom: rem(5px);
	&.right {
		text-align: right;
	}

	&.center {
		text-align: center;
	}

	@media screen and (max-width: 575px) {
		padding-top: rem(10px);
		&.right {
			text-align: left;
		}
	}
}

.section-top {
	margin-bottom: rem(30px);
}

.section-title {
	@include rb;
	font-size: em(25px);
	margin-bottom: rem(2px);
	text-transform: uppercase;
}

.section-descr {
	font-size: em(18px);
	@include rl;

	a {
		color: #ba0ccd;
		@include transition(color);

		&:hover {
			color: $color-second;
		}
	}
}

.color-success {
	color: $success-color;
}

.color-danger {
	color: $danger-color;
}

.cursor-follower {
	width: 2rem;
	height: 2rem;
	border: none;
	border: 1px solid  $color-accent;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: all 0.1s;
	z-index: 9999;

	@media screen and (max-width: 1280px) {
		display: none;
	}

	&__link {
		transform: scale(0);
		transition: 0s;
	}
	&__disable {
		transform: scale(0);
		transition: 0s;
	}
}

.cursor {
	width: 0.6rem;
	height: 0.6rem;
	border: none;
	background: $color-accent;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	transform-origin: 150% 150%;
	pointer-events: none;
	transition: all 0.5s;
	transition-property: background, transform, border-color;
	z-index: 9999;

	@media screen and (max-width: 1280px) {
		display: none;
	}
	&__disable {
		transform: scale(0);
		transition: 0s;

	}
	&__link {
		transform: scale(2);
		transform-origin: 100% 100%;
		background-color: $color-white;
	}
}

.bg-letter {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../img/bg/intro-bg.png) 50% 50% no-repeat;
}

.center-block {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border-radius: rem(15px);
	background-color: rgb(255, 230, 119);
	box-shadow: 0px 0px 44px 0px rgba(224, 176, 33, 0.43);
	max-width: rem(400px);
	width: 100%;
	min-height: rem(250px);
	color: #43380e;

	&--intro {
		padding: rem(120px) rem(15px) rem(30px);
		text-align: center;

		@media screen and (max-width: 480px){
			padding: rem(80px) rem(15px) rem(30px);
		}
	}

	&--form {
		padding: rem(120px) 0 0;
		text-align: center;

		.center-block {
			&__title {
				padding: rem(10px) rem(20px);
			}
		}

		@media screen and (max-width: 480px){
			padding: rem(60px) 0 0;
		}
	}

	&--reg {
		max-width: rem(630px);
		padding: rem(30px) rem(20px) rem(10px);

		.logo-wrap--top {
			left: rem(-80px);
			@include alignTransformVertical;

			@media screen and (max-width: 991px){
				top: rem(-80px);
				@include alignTransformHorizontal;
			}
		}

		@media screen and (max-width: 991px){
			padding: rem(120px) rem(15px) rem(30px);
		}

		@media screen and (max-width: 480px){
			padding: rem(80px) 0 rem(20px);
		}
	}

	&--profile {
		max-width: rem(920px);
		margin-bottom: em(50px);
		padding: rem(30px) 0 0;
		min-height: rem(50px);

		@media screen and (max-width: 480px){
			padding: rem(20px) 0 0;
		}

		.center-block {
			&__title {
				padding: rem(10px) rem(20px);
			}
		}

		@media screen and (max-width: 480px){
			margin-bottom: em(10px);
		}
	}

	&__title {
		width: 100%;
		text-transform: uppercase;
		@include rb;
		font-size: em(25px);
		text-align: center;
	}

	&__subtitle {
		width: 100%;
		font-size: 1.375rem;
		margin-bottom: rem(30px);
		text-align: center;
	}

	&__bottom {
		width: 100%;
		margin-top: auto;
		background-color: #FFF9DD;
		box-shadow: 0px 0px 44px 0px rgba(224, 176, 33, 0.43);
		border-radius: 0 0 rem(15px) rem(15px);
		padding: rem(20px) rem(34px);

		@media screen and (max-width: 768px){
			padding: rem(20px) rem(20px);
		}
	}
}

.row {
	display: flex;
	flex-wrap: wrap;

	&.space-between {
		justify-content: space-between;
	}
}

.link {
	display: inline-block;
	color: #acacad;
	@include rl;
	font-size: em(18px);
	@include transition(color);
	position: relative;
	text-decoration: none;
	line-height: 1.2;

	&:before {
		@include pseudo;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: #acacad;
		@include transition;
	}

	&:hover {
		color: $color-base;

		&:before {
			transform: translateY(rem(20px));
			opacity: 0;
		}
	}
}

.select-list {
	max-width: rem(330px);
	width: 100%;
	&__item {
		margin-bottom: rem(30px);
		width: 100%;

		@media screen and (max-width: 768px){
			margin-bottom: rem(14px);
		}
	}
}

.select-link {
	display: flex;
	align-items: center;
	padding: 1rem 0.5rem;
	background: #ffe77f;
	border-radius: rem(11px);
	@include transition;
	color: $color-base;

	&__text {
		@include rl;
		font-size: em(25px);
		padding-left: em(10px,25px);

		&--uppercase {
			text-transform: uppercase;
		}
	}

	&:hover {
		color: $color-base;
		background: #FFF9DD;
		box-shadow: 0px 0px 44px 0px rgba(224, 176, 33, 0.43);

		.mask-char {
			background: transparent;

			&:before {
				opacity: 1;
			}
		}

		.mask-char-bg {
			fill: #FFF9DD;
		}
	}
}

.mask-char {
	position: relative;
	height: rem(120px);
	width: rem(120px);
	text-transform: uppercase;
	font-size: rem(120px);
	@include pb;
	line-height: 1;
	z-index: 2;
	background: $color-yellow-second;
	@include transition;

	&:before {
		@include pseudo;
		background: red;
		top: 2px;
		left: 2px;
		bottom: 2px;
		right: 2px;
		background: url(../img/bg/colored-background.jpg);
		background-position: 22% 56%;
		z-index: -1;
		opacity: 0;
		@include transition(opacity);
	}
}

.mask-char-container {
	position: relative;
	width: calc(2px + 100%);
	height: calc(2px + 100%);
	margin: -1px;

	mask {
		width: 100%;
		height: 100%;
		mask-size: cover;
		background-color: #ffffff;
	}
}

.mask-char-bg {
	fill: #ffe77f;
	z-index: 2;
	position: relative;
	@include transition(fill);
	display: block;
}

.mask-char mask > rect {
	fill: $color-white;
	@include transition(fill);
}

.section-button {
	padding: rem(10px) 0;

	&--center {
		text-align: center;
	}

	&--right {
		text-align: right;
	}
}

.form-login {
	padding: rem(20px);
	max-width: rem(370px);
	width: 100%;
	margin: 0 auto;

	.form-button {
		padding: rem(10px) 0;
	}

	.form-input {
		&:focus {
			box-shadow: 0 2px 5px 2px #e1cc65;
		}
	}

	&--reg {
		.form-button {
			padding-top: rem(20px);
		}
	}
}

.edit-wrap {
	width: 100%;
}

.profile-tabs-nav {
	padding: 0 rem(20px) rem(20px);
	.tabs-nav__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		margin: 0 rem(-10px);
	}

	.tabs-nav__item {
		padding: rem(5px) rem(10px);

		@media screen and (max-width: 480px){
			width: 100%;
		}

		&.active {
			.tab-link {
				@include rr;
				background: #fdcb2c;
			}
		}
	}

	.tab-link{
		font-size: em(18px);
		@include rl;
		@include transition;
		display: inline-block;
		color: $color-base;
		padding: rem(12px) rem(18px) rem(10px);
		line-height: 1.1;
		border-radius: rem(30px);
		text-align: center;

		@media screen and (max-width: 480px){
			width: 100%;
			border: 1px solid #fdcb2c;
		}
	}
}

.tabs-content {
	position: relative;
	&__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		visibility: hidden;
		opacity: 0;

		&.active {
			position: relative;
			visibility: visible;
			opacity: 1;
			@include transition;
		}
	}
}



.form-profile {
	max-width: rem(740px);
	padding: rem(20px) 0 rem(10px);
	width: 100%;
	margin: 0 auto;
	.form-input {
		opacity: 0;
		&:focus {
			box-shadow: none;
		}
	}

	.form-item {
		position: relative;
		margin-bottom: rem(10px);

		&.show{
			.profile-data {
				visibility: hidden;
				opacity: 0;
				transform: scaleX(0);
			}

			.form-input {
				opacity: 1;
			}
		}
	}
}

.profile-data {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	@include text-overflow;
	height: 2.625rem;
	padding: .63rem 1.4375rem;
	z-index: 2;
	transform-origin: 0 50%;
	@include transition(all,0.5s);
	cursor: pointer;

	.svg-icon {
		display: inline-block;
		width: rem(10px);
		height: rem(10px);
		margin-left: rem(5px);
		fill: $color-base;
	}
}

.order-list {
	max-width: rem(740px);
	padding: rem(20px) 0;
	width: 100%;
	margin: 0 auto;
	ul {
		display: flex;
		flex-wrap: wrap;
	}

	li {
		width: 50%;
		font-size: em(18px);
		margin-bottom: rem(10px);

		@media screen and (max-width: 575px){
			width: 100%;
		}
	}
}

.dropzone-wrapper {
	border: 2px solid $color-white;
	color: $color-base;
	background: $color-white;
	position: relative;
	height: 150px;
	border-radius: rem(21px);
	position: relative;

	//label.error {
	//	margin-top: rem(25px);
	//}

	label.error {
		display: none!important;
	}
}

.dropzone-desc {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	text-align: center;
	width: 100%;
	top: 50px;
	font-size: 16px;

	p {
		@include text-overflow;
	}

	.svg-icon {
		width: rem(24px);
		height: rem(24px);
		margin: 0 auto rem(6px);
		display: block;
	}
}

.dropzone,
.dropzone:focus {
	position: absolute;
	outline: none !important;
	width: 100%;
	height: 150px;
	cursor: pointer;
	opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
	background: #ecf0f5;
}

.preview-zone {
	text-align: center;
}

.preview-zone .box {
	box-shadow: none;
	border-radius: 0;
	margin-bottom: 0;
}

.box {
	position: relative;
	background: transparent;
	width: 100%;
	padding: rem(10px) 0;
}

.box-body {
	p {
		@include text-overflow;
	}
}

.box-header {
	display: block;
	padding: 10px;
	position: relative;
	border-bottom: 1px solid #f4f4f4;
	margin-bottom: 10px;
}

.box-tools {
	position: absolute;
	right: 10px;
	top: 5px;
}

.hidden {
	display: none!important;
}

.small-text {
	font-size: em(13px);
}

.section-article {
	h3 {
		@include rb;
		font-size: em(20px);
		padding: rem(5px) 0 rem(10px);
	}

	p {
		margin-bottom: em(16px,18px);
		line-height: 1.56;
		font-size: em(18px);
		@include rl;
	}

	ol {
		list-style-type: decimal;
	}

	ol,ul {
		margin-left: em(30px);
		li {
			margin-bottom: em(16px,18px);
			line-height: 1.56;
			font-size: em(18px);
			@include rl;
		}
	}

}

.faq-block {
	width: 100%;
	height: 70vh;

	@media screen and (max-width: 1199px){
		height: auto;
	}
}

.faq-list {
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	padding-right: 30px;

	@media screen and (max-width: 1199px){
		height: auto;
		padding-right: 0;
	}

	&__item {
		margin-bottom: 10px;
	}
}

.faq-card {
	border-radius: 11px;
	background-color: #FFE77F;
	padding: rem(20px) rem(30px);

	@media screen and (max-width: 480px){
		padding: rem(15px) rem(15px);
	}

	&__title {
		font-size: em(24px);
		@include rl;
		margin-bottom: rem(10px);
	}

	&__text {
		font-size: em(18px);
		line-height: 1.5;
		@include rl;
	}
}

.pb-0 {
	padding-bottom: 0;
}

.nicescroll-rails {
	border-radius: 5px;
}

.support-link {
	position: relative;
	padding-left: rem(30px);
	min-height: rem(16px);
	@include rl;
	font-size: em(24px);
	color: $color-base;
	@include transition(color);

	&:hover {
		color: $color-second;

		.svg-icon {
			fill: $color-second;
		}
	}

	.svg-icon {
		position: absolute;
		display: block;
		left: 0;
		top: 50%;
		margin-top: -13px;
		width: 22px;
		height: 22px;
		fill: $color-base;
		@include transition(fill);
	}
}

.support-list {
	&__item {
		margin-bottom: 10px;
	}
}

.social-block {
	padding: rem(20px) 0;
	margin-bottom: rem(10px);
}

.social-buttons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0 -5px;

	&__item {
		padding: 5px;
	}
}


.social-link {
	position: relative;
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: $color-white;
	@include transition(background);

	&:hover {
		background: $color-second;

		.svg-icon {
			fill: $color-white;
		}
	}

	.svg-icon {
		position: absolute;
		display: block;
		width: 20px;
		height: 20px;
		@include alignTransform;
		fill: $color-base;
		@include transition(fill);
	}
}

.message-block {
	padding: 10px 20px 20px;

	&__title {
		width: 100%;
		text-transform: uppercase;
		@include rb;
		font-size: 1.5625em;
		text-align: center;
		margin-bottom: rem(10px);
	}

	&__text {
		font-size: em(18px);
		@include rl;
		margin-bottom: rem(10px);
	}
}
