
// Font
$mainFont                : "Circe", sans-serif;

// Size
$browser-context         : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$width-xl                : 1200px;
$width-lg                : 991px;
$width-md                : 767px;
$width-sm                : 576px;
$width-xs                : 479px;

$container-xl            : 1170px;
$container-lg            : 960px;
$container-md            : 720px;
$container-sm            : 540px;
$container-xs            : 100%;

// Main color
$default-color           : #020304;
$primary-color           : #444ce0;
$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;
$light-color             : #999999;
$purple-color            : #8854d0;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

$color-main             : #442880;
$color-second           : #7C3CFF;
$color-accent           : #ff3e7e;
$color-black            : #000000;
$color-white            : #ffffff;
$color-base             : #020304;
$color-dark             : #42424D;
$color-pink             : #ff3e7e;
$color-yellow           : #fff600;
$color-yellow-second    : #ffc929;
$color-green            : #74bf40;
$color-lilac            : #b90ccc;
$color-red              : #fa522c;

