// header style

.menu-button {
	position: absolute;
	left: rem(30px);
	top: rem(22px);
	z-index: 100;
	width: auto;

	@media screen and (max-width: 480px) {
		left: rem(15px);
	}
}


.btn-menu {
	position: relative;
	display: block;
	background-color: transparent;
	border: none;
	width: rem(40px);
	height: rem(40px);
	padding: rem(5px) rem(5px);
	cursor: pointer;

	.line {
		height: rem(3px);
		width: 100%;
		display: block;
		background: $color-white;
		margin: rem(5px) auto;
		border-radius: 5px;
	}
}

.left-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	background: #43484F;
	box-shadow: 2px 0 15px rgba($color-base,0.2);
	width: 470px;
	height: 100%;
	z-index: 1000;
	@include transition(transform,0.4s,ease-out);
	transform: translate(-470px,0);
	visibility: hidden;
	color: $color-white;


	@media screen and (max-width: 480px) {
		width: 100%;
		transform: translate(-101%,0);
	}

	.btn-close {
		position: absolute;
		top: 15px;
		right: 15px;

		@media screen and (max-width: 480px){
			top: 5px;
			right: 5px;
		}
	}

	&__inner {
		width: 100%;
		height: 100%;
		overflow: hidden;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
	}

	&__top {
		padding: rem(36px) rem(54px);
		width: 100%;
		position: relative;
		background: #ffe677;
		box-shadow: 0.017px 1px 73px 0px rgba(0, 0, 0, 0.17);

		@media screen and (max-width: 480px){
			padding: rem(20px) rem(36px) rem(20px) rem(15px);
		}
	}

	&__middle {
		padding: rem(26px) rem(54px);

		@media screen and (max-width: 480px){
			padding: rem(20px) rem(15px);
		}
	}

	&__bottom {
		margin-top: auto;
		padding: rem(36px) rem(54px);
		width: 100%;
		position: relative;
		background: #535A63;

		@media screen and (max-width: 480px){
			padding: rem(20px) rem(15px);
		}
	}

	&.open {
		transform: translate(0,0);
		visibility: visible;
		@include transition(transform,0.4s,ease-out);
	}
}

.main-menu {
	width: 100%;

	.icon-menu {
		width: 24px;
		height: 24px;
		padding: 6px;
		display: inline-block;
		vertical-align: middle;
		pointer-events: none;
		@include transition(transform);
		transform-origin: 50% 50%;

		.svg-icon {
			width: 12px;
			height: 12px;
			fill: $color-white;
			display: block;
			@include transition;
		}
	}

	> ul {

		> li {
			padding: rem(17px) 0 rem(16px);

			@media screen and (max-width: 480px){
				padding: rem(10px) 0;
			}

			>.icon-menu {
				//display: none;
				margin-bottom: 2px;
			}


			&.current {
				.icon-menu {
					.svg-icon {
						fill: $color-yellow-second;
					}
				}
			}

			ul {
				padding-top: 5px;
				display: none;
				width: 100%;

				li {
					padding: 8px 0 8px 16px;
					border: none;

					@media screen and (max-width: 480px){
						padding: 6px 0 6px 16px;
					}

					&:last-child {
						padding-bottom: 0;
					}
				}
			}

			> ul {
				>li {
					padding-left: 0;

					@media screen and (max-width: 480px){
						padding-left: 0;
					}
				}
			}
		}
	}

	li {
		position: relative;
		border-bottom: 1px solid rgba(#43380e,0.21);
		&:last-child {
			border-bottom: none;
		}

		&.has-children {
			position: relative;
		}

		&.current {
			> a {
				color: #7C3CFF;
			}
		}

		ul {
			width: 100%;
			a {
				@include rr;
				font-size: rem(18px);
				text-transform: none;
			}
		}

		&.sub-menu-open {
			> .icon-menu {
				transform: rotate(180deg);
			}
		}
	}

	a {
		display: inline-block;
		@include transition;
		text-transform: uppercase;
		color: $color-white;
		@include rb;
		font-size: rem(18px);
		padding-right: 2px;

		&:hover {
			color: $neutral-secondary;
		}
	}
}

.btn-close {
	display: inline-block;
	position: relative;
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 5px;

	.svg-icon {
		display: block;
		width: rem(16px);
		height: rem(16px);
		fill: $color-black;
	}
}

.user-box {
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;

	&__avatar {
		max-width: rem(65px);
		width: 100%;

		img {
			border-radius: 50%;
			width: 65px;
			height: 65px;
		}
	}

	&__name {
		padding: rem(2px) 0 rem(2px) rem(25px);
		font-size: em(18px);
		width: calc(100% - 65px);
		line-height: 1.2;
		color: $color-base;

		@media screen and (max-width: 480px) {
			padding: rem(2px) 0 rem(2px) rem(15px);
		}
	}
}

.user-name {
	position: relative;
	padding-right: 30px;
	min-height: 20px;
	display: inline-block;
	@include break;

	.btn-logout {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -8px;
	}
}

.btn-logout {
	display: block;
	@include transition(opacity);
	width: 18px;

	.svg-icon {
		fill: $color-base;
		width: 18px;
		height: 18px;
		display: block;
	}

	&:hover {
		opacity: 0.6;
	}
}

.support-menu {
	padding-bottom: 20px;
	li {
		padding: 6px 0;
	}
	a {
		color: $color-white;
		font-size: em(16px);
		@include transition(color);
		display: inline-block;

		&:hover { 
			color: $neutral-secondary;
		}
	}
}

.copyright {
	padding-top: 10px;
	font-size: em(14px);
	@include rl;
}

.reg-box {
	width: 100%;
}

.buttons-group {
	display: flex;
	align-items: center;
	margin: 0 -5px;

	&__item {
		width: 50%;
		padding: 5px;
	}
}

.btn-link {
	color: $color-white;
	font-size: rem(18px);
	display: inline-block;
	text-align: left;
	position: relative;
	padding: 4px 4px 4px 28px;
	@include transition;

	.svg-icon {
		width: 16px;
		height: 16px;
		display: block;
		fill: $color-white;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -9px;
	}

	&:hover {
		opacity: 0.6;
		color: $color-white;
	}
}
