<template>
    <div class="page-content pb-0">
        <section class="section-main">
            <div class="container">
                <div class="section-top">
                    <h1 class="section-title">Прайс-лист</h1>
                    <p class="section-descr">Найдите цену в списке, либо <router-link target="_blank" to="/contacts">свяжитесь с нами</router-link></p>
                </div>
                <div class="faq-block">
                    <div class="faq-list">
                        <div class="faq-list__item">
                            <div class="faq-card">
                                <div class="faq-card__title"><strong><a href="/video-lyric" target="_blank">Создание лирик-видео:</a> </strong></div>
                                <div class="faq-card__text">

                                    <ul class="price-list">
                                        <li>– Арт-трек </li>
                                        <li><strong>Цена:</strong> <span class="mark-price"> 50.000 &#8381;</span></li>
                                        <li><span class="round-mark"><a href="https://www.youtube.com/watch?v=MQNO9b9BmB8" target="_blank">посмотреть пример</a></span></li>
                                    </ul>

                                    <ul class="price-list">
                                        <li>Простое видео  </li>
                                        <li><strong>Цена:</strong> <span class="mark-price"> 80.000 &#8381;</span></li>
                                        <li><span class="round-mark"><a href="https://www.youtube.com/watch?v=YDnsq7WPbRU" target="_blank">посмотреть пример</a></span></li>
                                    </ul>

                                    <ul class="price-list">
                                        <li>– Cредней сложности  </li>
                                        <li><strong>Цена:</strong> <span class="mark-price"> 150.000 &#8381;</span></li>
                                        <li><span class="round-mark"><a href="https://www.youtube.com/watch?v=DHWzhbG5jvQ" target="_blank">посмотреть пример</a></span></li>
                                    </ul>

                                     <ul class="price-list">
                                        <li>– Сложное </li>
                                        <li><strong>Цена:</strong> <span class="mark-price"> 350.000 &#8381;</span></li>
                                        <li><span class="round-mark"><a href="https://www.youtube.com/watch?v=Wg1MwO6N_Ng" target="_blank">посмотреть пример</a></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="faq-list__item">
                            <div class="faq-card">
                                <div class="faq-card__title"><strong><a href="/video-clip " target="_blank">Создание клипа:</a> </strong></div>
                                <div class="faq-card__text">

                                    <ul class="price-list">
                                        <li>– Низкобюджетный </li>
                                        <li><strong>Цена:</strong> <span class="mark-price"> от 150.000 &#8381;</span></li>
                                    </ul>

                                    <ul class="price-list">
                                        <li>Бюджетный  </li>
                                        <li><strong>Цена:</strong> <span class="mark-price"> от 350.000 &#8381;</span></li>
                                    </ul>

                                    <ul class="price-list">
                                        <li>– Полноценный клип</li>
                                        <li><strong>Цена:</strong> <span class="mark-price"> от 600.000 &#8381;</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="faq-list__item">
                            <div class="faq-card">
                                <div class="faq-card__title"><strong><a href="/video-promo" target="_blank">Продвижение видео:</a> </strong></div>
                                <div class="faq-card__text">

                                    <ul class="price-list">
                                        <li>– YouTube </li>
                                        <li><strong>Цена:</strong> <span class="mark-price"> от 0,34 &#8381;</span></li>
                                    </ul>

                                    <ul class="price-list">
                                        <li>Вконтакте  </li>
                                        <li><strong>Цена:</strong> <span class="mark-price">от 0,1 &#8381; </span></li>
                                    </ul>

                                    <ul class="price-list">
                                        <li>– Одноклассники</li>
                                        <li><strong>Цена:</strong> <span class="mark-price"> от 0,1 &#8381;</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="faq-list__item">
                            <div class="faq-card">
                                <div class="faq-card__title"><strong><a href="/song-promo" target="_blank">Продвижение музыки:</a> </strong></div>
                                <div class="faq-card__text">

                                    <ul class="price-list">
                                        <li>– YouTube </li>
                                        <li><strong>Цена:</strong> <span class="mark-price"> от 0,34 &#8381;</span></li>
                                    </ul>

                                    <ul class="price-list">
                                        <li>– Вконтакте  </li>
                                        <li><strong>Цена:</strong> <span class="mark-price">от 0,1 &#8381; </span></li>
                                    </ul>

                                    <ul class="price-list">
                                        <li>– Одноклассники</li>
                                        <li><strong>Цена:</strong> <span class="mark-price"> от 0,1 &#8381;</span></li>
                                    </ul>

                                    <ul class="price-list">
                                        <li>– Вконтакте (посев)</li>
                                        <li><strong>Цена:</strong> <span class="mark-price"> 110.000 &#8381;</span></li>
                                    </ul>

                                    <ul class="price-list">
                                        <li>– Instagram</li>
                                        <li><strong>Цена:</strong> <span class="mark-price"> 50.000 &#8381;</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                         <div class="faq-list__item">
                            <div class="faq-card">
                                <div class="faq-card__title"><strong><a href="/song" target="_blank">Создать песню:</a> </strong></div>
                                <div class="faq-card__text">
                                    <ul class="price-list">
                                        <li>– Создание песни с нуля </li>
                                        <li><strong>Цена:</strong> <span class="mark-price">150.000 &#8381;</span></li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>– Создать песню на основе заготовки  </li>
                                        <li><strong>Цена:</strong> <span class="mark-price">70.000 &#8381;</span></li>
                                    </ul>
                                     <ul class="price-list">
                                        <li>– Создать обложку песни (без анимации)</li>
                                        <li><strong>Цена:</strong> <span class="mark-price">18.000 &#8381;</span></li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>– Создать обложку песни (анимация)</li>
                                        <li><strong>Цена:</strong> <span class="mark-price">35.000 &#8381;</span></li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>– Выпуск песни</li>
                                        <li><strong>Цена:</strong> <span class="mark-price">15.000 &#8381;</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="faq-list__item">
                            <div class="faq-card">
                                <div class="faq-card__title"><strong><a href="/artist" target="_blank">Артист / Блогер:</a> </strong></div>
                                <div class="faq-card__text">
                                    <ul class="price-list">
                                        <li>– Нейминг </li>
                                        <li><strong>Цена:</strong> <span class="mark-price">15.000 &#8381;</span></li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>– Торговая марка   </li>
                                        <li><strong>Цена:</strong> <span class="mark-price">100.000 &#8381;</span></li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>– Регистрация социальных сетей</li>
                                        <li><strong>Цена:</strong> <span class="mark-price">3.000 &#8381;</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                         <div class="faq-list__item">
                            <div class="faq-card">
                                <div class="faq-card__title"><strong><a href="/artist-design" target="_blank">Дизайн:</a> </strong></div>
                                <div class="faq-card__text">
                                    <ul class="price-list">
                                        <li>– Логотип </li>
                                        <li><strong>Цена:</strong> <span class="mark-price">80.000 &#8381;</span></li>
                                    </ul>
                                       <ul class="price-list">
                                        <li>– Создать обложку песни (анимация)</li>
                                        <li><strong>Цена:</strong> <span class="mark-price">35.000 &#8381;</span></li>
                                    </ul>
                                    <ul class="price-list">
                                        <li>– Выпуск песни</li>
                                        <li><strong>Цена:</strong> <span class="mark-price">15.000 &#8381;</span></li>
                                    </ul>

                                    <ul class="price-list">
                                        <li>– Дизайн соц. сетей </li>
                                        <li><strong>Цена:</strong> <span class="mark-price"> от 5.000 &#8381;</span></li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>

                        
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
export default {
    name: "FAQ"
}
</script>