<template>
    <div class="form-item">
        <input
            class="form-input"
            :value="value"
            :type="type"
            :name="name"
            :placeholder="placeholder"
            :class="dynamicClasses"
            @input="$emit('input', $event.target.value)"
        />
        <label
            v-if="allErrors.length"
            :for="name"
            class="error"
        >
            {{allErrors[0]}}
        </label>
    </div>
</template>

<script>
export default {
    name: "InputControl",
    props: {
        value: {
            default: ''
        },
        type: String,
        name: String,
        placeholder: String,
        classes: {
            type: Object,
            default: () => {}
        },
        errors: {
            type: Array,
            default: () => []
        },
    },
    computed: {
        dynamicClasses() {
            return {
                error: !!this.allErrors.length,
                ...this.classes
            };
        },
        allErrors() {
            return this.errors;
        }
    }
}
</script>