<template>
    <div class="page-content">
        <section class="section-main">
            <div class="container">
                <div class="section-top">
                    <h2 class="section-title">Создать клип</h2>
                    <p class="section-descr">Что будем продюсировать?</p>
                </div>
                
                <form-video-clip></form-video-clip>

                <div class="section-button">
                    <router-link class="btn btn-outline-white" to="/video-create">
                        <i class="icon-long-arrow arrow-left"></i>
                        <span>Назад</span>
                    </router-link>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import FormVideoClip from '@/components/Forms/Content/Video/FormVideoClip';
export default {
    name: "video-clip",
	components: { FormVideoClip }
}
</script>
