<template> 
<div class="page-content">
	<section class="section-main">
		<div class="container">
			<div class="section-top">
				<h2 class="section-title">Регистрация доменов</h2>
				<p class="section-descr">Регистрация доменных имен для Вашего проекта:</p>
			</div>
			
            <form-artist-domain></form-artist-domain>

			<div class="section-button">
                <router-link class="btn btn-outline-white" to="/artist-naming">
                    <i class="icon-long-arrow arrow-left"></i>
                    <span>Назад</span>
                </router-link>
            </div>
		</div>
	</section>
</div>
	
</template>
<script>
import FormArtistDomain from '@/components/Forms/Content/Artist/FormArtistDomain';
export default {
    name: "artist-domain",
	components: { FormArtistDomain }
}
</script>
