<template> 
<div class="page-content">
	<section class="section-main">
		<div class="container">
			<div class="section-top">
				<h2 class="section-title">Регистрация социальных сетей</h2>
				<p class="section-descr">Регистрация аккаунтов в социальных сетях:</p>
			</div>
			
            <form-artist-social-media></form-artist-social-media>

			<div class="section-button">
                <router-link class="btn btn-outline-white" to="/artist-naming">
                    <i class="icon-long-arrow arrow-left"></i>
                    <span>Назад</span>
                </router-link>
            </div>
		</div>
	</section>
</div>
	
</template>
<script>
import FormArtistSocialMedia from '@/components/Forms/Content/Artist/FormArtistSocialMedia';
export default {
    name: "artist-social-media",
	components: { FormArtistSocialMedia }
}
</script>
