<template> 
    <div class="page-content">
        <section class="section-main">
            <div class="container">
                <div class="section-top">
                    <h2 class="section-title">Разработать обложку сингла</h2>
                    <p class="section-descr"></p>
                </div>
                
                <form-artist-cover-image></form-artist-cover-image>

                <div class="section-button">
                    <router-link class="btn btn-outline-white" to="/artist-design">
                        <i class="icon-long-arrow arrow-left"></i>
                        <span>Назад</span>
                    </router-link>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import FormArtistCoverImage from '@/components/Forms/Content/Artist/FormArtistCoverImage';
export default {
    name: "artist-cover-image",
	components: { FormArtistCoverImage }
}
</script>
